{% extends "base.html" %} {% block title %}Help{% endblock %} {% block body %}
<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="container">
                    <div class="row" style="margin-top:5%">
                        <h3>Help</h3>
                        <br>
                        <div class="col-md-10">
                            <div class="well">
                                <ol>
                                    <li>Register</li>
                                        <ul>
                                            <li>Direction: Enter your credentials and press register</li>
                                            <li>Warning: If there is an error, the program will tell you after you press the button</li>
                                            <li>Warning: If the page is not registering, check if your google play store is up to date 11.6.10 or higher</li>
                                        </ul>
                                    <li>Login</li>
                                        <ul>
                                            <li>Direction: Enter your credentials and press login</li>
                                            <li>Direction: If you forgot your password, press forgot password</li>
                                            <li>Direction: If you are a new user, press new user</li>
                                            <li>Warning: If there is an error, the program will tell you after you press the button</li>
                                            <li>Warning: If the page is not Logging in, check if your google play store is up to date 11.6.10 or higher</li>
                                        </ul>
                                    <li>Welcome Page</li>
                                        <ul>
                                            <li>Direction: If you want to search for films, press find my films</li>
                                            <li>Direction: If you want to view or edit details of your account, press find my account</li>
                                            <li>Direction: If you want to logout, press find my logout</li>
                                        </ul>
                                    <li>Search Page</li>
                                        <ul>
                                            <li>Direction: Enter your ideal attributes you want your film to have credentials and press Find My Film</li>
                                        </ul>
                                    <li>Results Page</li>
                                        <ul>
                                            <li>Info: After pressing Find My Film on the Search page, you will be lead to this page.</li>
                                            <li>Direction: Select the film you will like to learn more about, and you will be directed to the Film detail page</li>
                                        </ul>
                                    <li>Film Details Page</li>
                                        <ul>
                                            <li>Info: After selecting a film on the Results page, you will be lead to this page to view details of your film</li>
                                        </ul>
                                    <li>My Account Page</li>
                                        <ul>
                                            <li>Direction: If you want to edit a credential, under the ideal credentials press edit an enter your new credentials.</li>
                                            <li>Direction: If you want to save all changes, press update account</li>
                                            <li>Warning: If there is an error, the program will tell you after you press the update account button</li>
                                        </ul>
                                    <li>Watchlist Page</li>
                                        <ul>
                                            <li>Direction: If you want to delete a film from the list, press the delete button under the film</li>
                                            <li>Direction: If you want to add a film on the list, press watch move button on film detail page</li>
                                        </ul>
                                    <li>Films I've Seen Page</li>
                                        <ul>
                                            <li>Direction: If you want to delete a film from the list, press the delete button under the film</li>
                                            <li>Direction: If you want to add a film on the list, press seen move button on film detail page</li>
                                        </ul>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}