{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Film Scout</h1>
                    <h3>Find the film for you!</h3>
                    <hr class="intro-divider">
                    <br>
                    <h3>About Us!</h3>
                    <h4>Here at FilmScout, we believe that In today’s society people use up a lot of their free time watching movies. Many people are faced with indecision or have specific taste when it comes to deciding what movie to watch. Currently there is no program that can meet a person’s needs if they wanted to watch a moderately funny 1980’s cop movie with some feel-good themes or a spy movie starring a particular actor that is also appropriate for children. What FilmScout can do for you is take a genre and find the your perfect movie or something close. Features include the ability to search for movies, select movies the user has seen previously or want to watch later, watch trailers.
                        </h4>
                        <br>
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}